@media (min-width: 576px) {
    .bebas_neue {
        font-size: 8vw;
    }
}

@media (min-width: 576px) {
    .bebas_neue {
        font-size: 8vw;
    }
}

@media (min-width: 992px) {
    .bebas_neue {
        font-size: 8vw;
    }
}